.outerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 355px;
    border: 1px solid #979797;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.21);
    transition: box-shadow .16s ease-in;
    border-radius: 3px;
}

.outerCard:hover {
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.28);
    cursor: pointer;
}

.innerCard {
    display: flex;
    padding: 5px 5px;
    height: 100px;
    width: 320px;
    background: #F5F5F5;
    border: 1px solid #979797;
    border-radius: 3px;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.21);
}

.avatarSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bioSection {
    flex: 1;
    margin-left: 15px;
    padding-top: 2px;
    font-size: .7em;
    color: #4A4A4A;
    text-align: left;
    line-height: 1.7em;
}

.alias {
    font-family: AvenirNext-Bold;
    font-size: .9em;
    color: #4A4A4A;
    text-align: center;
}

.icon {
    width: 20px;
    height: 20px;
}



.title {
    font-family: AvenirNext-Bold;
}

.value {
    font-family: AvenirNext-Regular;
}

