.NavItem {
    display: flex;
    padding: 0 25px;
}

a {
    text-decoration: none;
    transition: color 0.2s ease-out;
    color: #d5d5d5;
}

.NavItem:not(:last-child) {
    border-right: 1px solid #959595;
}

.NavItem a:hover {
    color: white;
}

.activeTab {
    color: white;
}
