.title {
    vertical-align: top;
    font-family: AvenirNext-Bold;
}


.multi {
    display: flex;
}

.multi, .single {
    font-family: AvenirNext-Regular;
}

.infoTable {
    width: 100%;
    border-spacing: 5px;
}
